@main("Admin Panel") {

<ul class="nav nav-pills nav-justified">
    <li><a href="#">Home</a></li>
    <li><a href="#">Certificates</a></li>
    <li><a href="#">Languages</a></li>
    <li><a href="#">Assignments</a></li>
    <li><a href="#">Programming Languages</a></li>
    <li class="active"><a href="#">Admin Panel</a> </li>
</ul>
<hr>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <h1>Assignments</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sr.No</th>
                <th>Student Name</th>
                <th>Certificates</th>
                <th>Languages</th>
                <th>Assignments</th>
                <th>Programming Languages</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Sample Student</td>
                <td><a href="#">Sample Certificates</a> </td>
                <td><a href="#">Sample Languages</a> </td>
                <td><a href="#">Sample Assignments</a> </td>
                <td><a href="#">Sample Programming Languages</a> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

}
