@()(implicit req: RequestHeader)
@main("Assignments") {

<ul class="nav nav-pills nav-justified">
    <li><a href="#">Home</a></li>
    <li><a href="#">Certificates</a></li>
    <li><a href="#">Languages</a></li>
    <li class="active"><a href="#">Assignments</a></li>
    <li><a href="#">Programming Languages</a></li>
</ul>
<hr>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <h1>Assignments</h1>
        <div id="showAssignment">

        </div>
    </div>
</div>

}
