@(email:String,isAdmin:Boolean)(implicit req: RequestHeader)
@main("Welcome to Play"){

<ul class="nav nav-pills nav-justified">
    <li class="active"><a href="@routes.HomeController.showLogin"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li><a href="@routes.HomeController.showCertificates"><span class="glyphicon glyphicon-education"></span> Certificates</a></li>
    <li><a href="@routes.HomeController.showLanguages"><span class="glyphicon glyphicon-comment"></span> Languages</a></li>
    <li><a href="@routes.HomeController.showAssignments"><span class="glyphicon glyphicon-folder-open"></span> Assignments</a></li>
    <li><a href="@routes.HomeController.showProgrammingLanguages"><span class="glyphicon glyphicon-floppy-disk"></span> Programming</a></li>
    @if(isAdmin){
    <li><a href="@routes.HomeController.showAdminPanel"><span class="glyphicon glyphicon-warning-sign"></span> Admin Panel</a></li>
    }
    <li><a href="@routes.HomeController.logout"><span class="glyphicon glyphicon-lock"></span>Logout</a></li>
</ul>

<hr>
<div class="container" style="margin-top:40px;">
    <div class="row" style="border:solid;max-height:450px;overflow-y: scroll">
        <h1>Welcome @email</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, qui harum maluisset in, an cibo probo gubergren sea. Ea vel ridens detracto inciderint, vix te minim adversarium necessitatibus. Ex sit ferri novum, in usu eius omnes latine, suas discere apeirian per et. No ius option interesset. Graece minimum splendide mei ea.</p>
        <p>An decore voluptaria inciderint vim, vis nusquam corpora intellegam ut, viderer diceret fabulas pri cu. Te mei labitur senserit persecuti, cum erroribus principes at. Cu duis mediocrem salutandi mel, vix ex ullum vocent. Ad sed omnis scripserit, aliquip similique usu no, ad his audiam docendi quaestio. Nam ei equidem interesset. Mutat theophrastus in sit, in vix lobortis reprimique, cu soleat antiopam maluisset duo.</p>
        <p>Ei dico verear ius. Nec democritum consetetur ea. Postea ceteros ei nam. Hinc idque nec ea, duo eu choro definitiones, elit inani philosophia in mel. Ne nec illum rationibus temporibus, vel qualisque gubergren in.</p>
        <p>Ad primis maiorum mea, ei vis sonet essent veritus, torquatos democritum ex pro. Et nihil fabulas sea. Eum mollis offendit te. Quo tation docendi principes ex. Liber fabellas eu sit, offendit explicari vim ne, ex pri laudem debitis. Numquam scriptorem at vel, ne falli labore his, clita recteque usu et. Graece similique in sit.</p>
        <p>Eos essent iuvaret ei, tantas probatus volutpat no pro, affert partiendo in his. Sea in dicta quaeque, est ex impedit prodesset tincidunt. Cu pro dicunt albucius molestie, et has purto movet. Elit percipit duo ex, populo nostrum in pro.</p>
        <p>Pertinacia voluptatum sea at, vix cu solum hendrerit. No etiam eirmod malorum vis. Duo viris labores verterem ea, vis ei vocent neglegentur. Utroque consectetuer cu pri, vel ut vitae exerci dolore. Tempor bonorum persecuti est ex, mel ea illud suscipit delicatissimi, vix an odio inermis prodesset.</p>
        <p>Ei integre luptatum explicari ius, eum ut exerci scaevola ponderum. Posse eirmod accusam pri ea, ei mea exerci aliquip fastidii. At elit dolore nec, eros nihil in duo. An possim admodum has, eum soleat interesset ei.</p>
        <p>Debitis scribentur vis in, pri oratio menandri no, cu nisl ferri iriure vel. Alii augue viderer duo ut, pro te fugit quaeque, cum at possim molestie placerat. Cu per primis aliquip, vix ut appareat accusata convenire, vide scripserit et sea. Causae omittam placerat ea his, duo labore detracto gubergren te. Duo id veri laboramus.</p>
        <p>Ea causae petentium pro, his ut corrumpit prodesset disputationi. Quo ne quis sint idque, causae delenit iudicabit ex quo. Omnium deleniti no cum, pro vide facer solet et. Stet vitae delicata ei pro, cu nec graeco perpetua elaboraret.</p>
        <p>Est paulo ornatus singulis id. Mea primis graeco adolescens ei, usu te viris oblique voluptatum. Ut diam agam tota vim, utroque explicari comprehensam ad vis. Ne usu aeque necessitatibus, libris facilisi temporibus ut pri. Zril insolens erroribus ne per.</p>
    </div>
</div>

}
