@main("Welcome to Play") {

<ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Menu 1</a></li>
    <li><a href="#">Menu 2</a></li>
    <li><a href="#">Menu 3</a></li>
</ul>
<hr>
<div class="container" style="margin-top:40px;">
    <div class="row" style="border:solid;max-height:500px">
        <p>Lorem ipsum dolor sit amet, duo ignota saperet atomorum an. Et vix nonumy tractatos, inermis dignissim evertitur quo no. Usu graeco scripta petentium ut, alienum albucius oporteat an eam, duo platonem convenire ea. Est harum eloquentiam in, malorum apeirian democritum no est, congue eleifend percipitur vix te. In qui dicat falli adversarium, quod everti quaerendum pro no, ut unum tantas dolorum mel.</p>
        <p>Sumo sadipscing ei cum. Mel an legimus legendos postulant, ut sit audire persequeris. Eu quis senserit eam, ei eum error zril nonumes. Eius facete cu sit, vim cu tempor reprimique. Ut vim choro maiorum consetetur, at pro homero vulputate. Nec cu solum apeirian scripserit, at usu persius disputando.</p>
        <p>Vim ea discere deleniti scaevola. Hinc dicunt ut sit, eu cum ipsum maluisset. At errem periculis elaboraret vix, qui no dicant quaestio senserit. Ne vidit dolores platonem vix, an aliquid quaerendum quo. Malorum mentitum pri an, dico qualisque mea ex.</p>
        <p>Ornatus nominavi oportere ei sea. Sit ne electram aliquando. Erat consetetur eu vix, ea ius odio homero labore. Te clita interesset ius.</p>
        <p>Ut modus vitae percipit vix. Eam ex iisque blandit percipitur, eu mei nusquam suscipit adversarium, te adhuc simul habemus est. Omnes utinam mei id, ne pro accumsan tractatos forensibus. Legere iracundia honestatis sit no, his fabulas adipiscing theophrastus ea, eum omnes appareat consequuntur ea. Eu homero ocurreret pro, ad liber clita nec. Ius et zril prompta mediocrem.</p>
        <p>Mea in liber alterum, aeque dictas insolens quo ut. Altera convenire nam cu. Eu sumo docendi luptatum has, tempor diceret usu ut. Usu vivendum expetenda cu, mel eu mundi moderatius concludaturque. Minim commune dissentiunt eu his.</p>
        <p>Agam voluptua scaevola cu cum. Choro equidem inermis ad eum. Est et utinam appetere, te exerci aliquid nec. Qui cu justo eruditi delicata, vel ne hinc putant consulatu.</p>
    </div>
</div>

}
