@(list:List[Languages])
<table class="table table-striped" id="certificatetable" style="align:left;">
    <thead>
    <tr>
        <th>Name</th>
        <th>Fluency</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @list.map{ lang =>
    <tr>
        <td>@lang.name</td>
        <td>@lang.fluency</td>
        <td>
            <button type="button" id="updateLanguage" value="@lang.id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        </td>
        <td>
            <button type="button" id="deleteLanguage" value="@lang.id" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
        </td>
    </tr>
    }
    </tbody>
</table>