@()(implicit req: RequestHeader)
@main("Languages") {

<ul class="nav nav-pills nav-justified">
    <li><a href="#">Home</a></li>
    <li><a href="#">Certificates</a></li>
    <li class="active"><a href="#">Languages</a></li>
    <li><a href="#">Assignments</a></li>
    <li><a href="#">Programming Languages</a></li>
</ul>
<hr>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <h1>Languages</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sr.No</th>
                <th>Language</th>
                <th>Fluency</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Urdu</td>
                <td>Super</td>
                <td><button type="button" class="btn btn-warning">Edit</button></td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

}
