@(loginForm : Form[(String,String)])(implicit message: play.api.i18n.Messages)
@main("Login") {

<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @helper.form(action = routes.HomeController.index) {

        @helper.inputText(loginForm("username"),'class -> "form-control",'_label->"UserName:",'required->true)

        @helper.inputPassword(loginForm("password"),'class -> "form-control",'_label->"Password:",'required->true)

        <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>
    <div class="col-md-2"></div>
</div>
}
