@(list:List[User])
<table class="table table-striped" id="certificateTable" style="align:left;">
    <thead>
    <tr>
        <th>Student Name</th>
        <th>Certificates</th>
        <th>Languages</th>
        <th>Assignments</th>
        <th>Programming Languages</th>
    </tr>
    </thead>
    <tbody>
    @list.map{ user =>
    <tr >
        <td>@user.name</td>
        <td>
            <button type="button" class="btn btn-warning certificate" value="@user.id">
                <span class="glyphicon glyphicon-pencil"></span> certificate
            </button>
        </td>
        <td>
            <button type="button"  value="@user.id" class="btn btn-danger language"><span class="glyphicon glyphicon-remove"></span> Language</button>
        </td>
        <td>
            <button type="button" class="btn btn-warning assignment" value="@user.id" data-toggle="modal"
                    data-target="#certificateEditModal">
                <span class="glyphicon glyphicon-pencil"></span> Assignment
            </button>
        </td>
        <td>
            <button type="button"  value="@user.id" class="btn btn-danger programming"><span class="glyphicon glyphicon-remove"></span> ProgrammingLanguage</button>
        </td>
    </tr>
    }
    </tbody>
</table>
<div id="certificateShowModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Certificate</h4>
            </div>
            <div class="modal-body" id="certificateShow">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="languageShowModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Certificate</h4>
            </div>
            <div class="modal-body" id="languageShow">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="programmingShowModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Certificate</h4>
            </div>
            <div class="modal-body" id="programmingShow">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
$(".certificate").click(function(){
    var id = $(this).attr('value');
$.get("getcertbyuser/"+id, function(data, status){
                $("#certificateShow").html(data);
                $("#certificateShowModal").modal('show');
        });
});
$(".language").click(function(){
    var id = $(this).attr('value');
$.get("getlangbyuser/"+id, function(data, status){
                $("#languageShow").html(data);
                $("#languageShowModal").modal('show');
        });
});
$(".programming").click(function(){
    var id = $(this).attr('value');
$.get("getprogbyuser/"+id, function(data, status){
                $("#programmingShow").html(data);
                $("#programmingShowModal").modal('show');
        });
});
</script>